body{
    background-color: white;
    color:black;
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.boxImage{
    width:344px;
    height: fit-content;
    padding: 5px;
}
.boxVideo{
    width:406px;
    padding: 4px;
}
.link{
    color:blue;
    text-decoration:none;
}
.link:clicked{
    color: blue;
    text-decoration: dotted;
}
.link:active{
    color:coral;
    text-decoration: none;
}

.summary{
    position: fixed;
    right: 24px;
    top:6px;
    background-color: aliceblue;
    padding: 5px;
}
.content{
    list-style: none;
}